.navbar {
  
  height: 50px;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
  font-family: 'Anek Odia';
  
}

.navbar-container {
  display: flex;
  float:right !important;
  justify-content: right;
  align-items: center;
  height: 80vh;
  max-width: 960px;
}



.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  
}


.nav-item {
  height: auto;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: capitalize;
}

.nav-links {
  color: #E2D2C6;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 1rem;
  font-size: 2em;
  text-transform: capitalize;
}

.nav-links:hover {

  transition: all 0.5s ease;
}

.fa-bars {
  color: #202717;
  
}

.nav-links-mobile {
  display: none;
}



  .NavbarItems {
   
    float:right;
  }

  .nav-menu {
    display: flex;
    padding-top: auto;
    padding-bottom: 50px;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    right: 100%;
    z-index: -1;
    text-transform: uppercase;
    opacity: 1;
    animation: fadeOut 1s;
    transition: fadeOut 1s;
  
  }

  .nav-menu.active {
    background: #10423D;
    display: flex;
    justify-items: flex-end;
    left: 0;
    padding-left: 0;
    opacity: 1;
    transition: fadeIn 1s;
    animation: fadeIn 1s;
 
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  .nav-links {
    text-align: center;
   
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #E2D2C6;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    width: 10px;
    top: 10px;
    left: 5px;
    transform: translate(9%, 30%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    float: left;
    top: 0;
    right: 0;
    transform: translate(-100%, 100%);
    font-size: 1.3rem;
    cursor: pointer;
  }

  .fa-times {
    color: #E2D2C6;
    font-size: 1.4rem;
    width: 100%;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: black;
    padding: 14px 20px;
    border: 1px solid #E2D2C6;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #0f0f0f;
    color: #242424;
    transition: 250ms;
  }
